
body{
	background-color: rgb(0,200,0, 0.8);
}

#wrapper{
	margin:auto;
	padding: 0;
}

img {
	width: 50px;
	height: 30px;
}

table, th, td{
	border: 1px outset rgb(50, 50, 50, 0.5); 
	border-collapse: collapse;
} 

table {
	font-family: serif;
	/*box-shadow: 20px 20px 30px coral;*/
}

th{
	font-size: 35px;
	background-color: rgb(250,200,0);
	padding: 20px;
}

td{
	font-size: 25px;
	padding: 20px;
}

tr:nth-child(odd){
	background-color: white;
}
tr:nth-child(even) {
	background-color: rgb(200,210,200);
}

/*first and fifth cols*/
th:nth-child(1) {
	text-align: right;
}

td:nth-child(1), td:nth-child(5) {
	text-align: right;
	width: 150px;
}

/*third and seventh cols*/
th,td:nth-child(3), th,td:nth-child(7){
	text-align:left;
}

/*even cols and fifth th*/
th, td:nth-child(even){
	text-align: center;
}
th:last-child {
	text-align:center;
}

tr td:last-child{
	padding-left:0;
	padding-right:0;
}	
	
tr td:last-child img{
	padding-left:0;
	padding-right:0;
	width: 60px;
	height: 60px;
}


select {
	color: red;
	background: rgb(230,240,230);
}

select option {
	display: inline-block;
}

tr:last-child select, tr:nth-child(4) select{
	color: green;
	background: white;
}