/*TODO: 
-copyright
-edit the font size of the root (13px) to a smaller one & check out what happens with the footer position - not at the button any more => when 13px
its good for my screen but not for a larger one. BUT THE ANIMATION LOOKS COOLER THIS WAY :-)
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 13px;
	font-family: monospace;
	background: #b5b5b5;
	animation-name: body-background;
	animation-duration: 5s;


}

div {
	width: 70%;
	margin-left:5%;
	background: #556677;
	animation-name: div-background;
	animation-duration: 7s;
}

	h1{
		padding: 3em;
		padding-left: 20%; /*with this padding the two words somehow are aligned below eachother when reso < 700px and don't show ouotside the div-box*/		
		font-size: 5em;
		color: #b5b5b5;
		text-align: center;
		animation-name: h1-padding;
		animation-duration: 5s;
	}
	
@keyframes body-background { 
	0%  {background: white;}
	10% {background: orange;}
	25% {background: #556677;}
	50% {background: white;}
	100%{background: #b5b5b5;} /*back to default values for smoother animation*/
}
@keyframes div-background{ 
	0%  {background: white;}
	25% {background: orange;}
	100%{background: #556677;} /*back to default values for smoother animation*/
}

@keyframes h1-padding {
	0%  {padding-top: 0;}
	25% {padding-top: 3em;}
	50% {padding-top: 5em; padding-bottom: 0;}
	100% {padding: 3em; padding-left: 20%;} /*back to default values for smoother animation*/
}

a {
	text-decoration: none;
	color: white;
	padding:0 0.8em;
}

a:hover {
	color: orange;
	font-size: 1.1em;
	border-right: 0.2em dotted white;
	border-left: 0.2em dotted white;
}

#container {
	display: flex;
	color: white;
	padding: 2em 2.5em 2em 3em;
	background: #112233;
	flex-wrap: wrap;
	align-content: center; /*......................................................*/
}

.flex-content {
	flex: 1 1;
}

.flex-content header {
	color: orange;
	font-family: fantasy;
	letter-spacing: 0.1em;
}

ul {
	list-style-type: none;
}
ul li {
	margin: 0.5em;
}

#first ul li {
	margin: 1.8em;
}
#first ul li a{
	display: block;
	width: 70%;
	padding: 0.5em 2em;
	text-align: center;
	border: 2px solid orange;
}
#first ul li a:hover{
	color: orange;
	font-size: 1.1em;
	border: 2px solid white;
}

@media screen and (max-width: 700px) {
	 #container {
		flex-direction: column;
	}
}